.main {
  text-align: center;
  position: relative;
  z-index: 1;
}

.main-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-content {
  padding: 20px;
  margin-top: 30px;
}

.main-content p {
  margin: 20px 0;
}
.main-link {
  color: #61dafb;
}

@media only screen and (min-width: 991px) {
  /* For mobile phones: */
  .main-section {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
  }

  .main-content {
    text-align: left;
    padding: 50px;
  }

  .main-video {
    padding: 50px;
  }
}