@import '../../sass/styles.scss';

.header {
  background-color: black;
  padding: 0 32px;
  position: fixed;
  width: 100%;
  z-index: 2;
  // height: 64px;
}

.logo {
  height: 100%;
  width: auto;
  max-width: none;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: -1px;
  color: #444;
  font-family: 'Open Sans';
  font-weight: 600;
  align-self: center;
}
.header-row {
  flex-wrap: nowrap;
  height: 62px;
  align-items: center;
}
.header img {
  height: 22px;
  text-indent: -9999px;
  max-width: none;
  width: auto;
  margin-bottom: 0;
  display: block;
  transition: opacity 0.4s ease;
}

.navbar-mobile {
  display: flex;
  justify-content: flex-end;
}

.navbar-action {
  margin-bottom: 0;
  display: flex;
  list-style-type: none;
}

.navbar-desktop {
  display: none;
  width: 100%;
}

.navbar-action {
  position: absolute;
  right: 0;
}

.navbar-action li a {
  border-color: blue !important;
  border-radius: 100px;
  border: solid 3px #999999 !important;
  display: inline-block !important;
  border-radius: 100px;
  line-height: 1 !important;
  transition: 0.2s ease !important;
  width: auto !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 10px 26px !important;
}

.navbar-mobile {
  display: flex;
  color: #999999;
  align-items: center;
}

.navbar-title {
  padding-right: 10px;
}

.navbar-mobile-slideout.open {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: white;
  top: 62px;
  z-index: 2;
}

@media only screen and (min-width: 991px) {
  /* For mobile phones: */
  .navbar-desktop {
    display: flex;
    align-items: center;
  }
  .navbar-mobile {
    display: none;
  }

  .header-row {
    flex-wrap: wrap;
  }
}